body {
  padding-top: 58px;
}
.navbar {
  background-color: #fff;
}
.navbar-default .navbar-nav > li > a,
.navbar-header > a {
  padding: 20px 15px;
  font-size: 16px;
  line-height: 14px;
  color: #555;
}
