<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" ui-sref="home">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <!--             <li><a href="{% url 'account-signup' %}"><span class="glyphicon glyphicon-user"></span> {{ request.user.email }}</a></li>
            <li><a href="{% url 'account-signup' %}"><span class="glyphicon glyphicon-user"></span> {{ user.email }}</a></li> -->
          <!-- <span ng-show="vm.loggedIn"> -->
          <li ng-show="vm.loggedIn">
            <a ui-sref="signup">
              <span class="glyphicon glyphicon-user"></span>
              {{ vm.full_name }}</a>
          </li>
          <li ng-show="vm.loggedIn">
            <a ng-href="logout">
              <span class="glyphicon glyphicon-user"></span>
              Logout</a>
          </li>
          <!-- </span> -->
          <!-- <span ng-hide="vm.loggedIn"> -->
          <li ng-hide="vm.loggedIn">
            <a ui-sref="signup">
              <span class="glyphicon glyphicon-user"></span>
              Sign Up</a>
          </li>
          <li ng-hide="vm.loggedIn">
            <a ui-sref="login">
              <span class="glyphicon glyphicon-log-in"></span>
              Login</a>
          </li>
          <!-- </span> -->
        </ul>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
