.tuple {
  min-height: 80px;
  margin: 10px;
  border: 1px solid;
  // width: 750px;
  display: block;
  padding: 9px 12px;
  .content {
    margin-left: 58px;
  }
  .profile-avatar {
    width: 48px;
    height: 48px;
    margin-left: -58px;
    margin-top: -15px;
  }
  .profile-name {
    /*font-size: 14px;*/
  }
}

.content {
  .profile-avatar, .text {
    display: inline-block;
    vertical-align: top;
  }
}

.tuple .item-header {
  line-height: 18px;
}
