<div class="tuple">
  <!-- {{tuple}} -->
  <div class="content">
    <div class="item-header">
      <a href="#">
        <strong class="profile-name">@{{tuple.ref_user.full_name}}</strong>
      </a>
    </div>
    <img class="profile-avatar" ng-src="{{tuple.ref_user.image}}" alt=""/>
    <p class="text">{{tuple.message}}</p>
  </div>
</div>
