<select class="form-group" ng-model="postMessage.post.identifier">
  <option value="">Select</option>
  <option ng-repeat="(key,value) in identifier.identifierList" value="{{key}}">{{key}}:
    {{value}}</option>
</select>
