<div class="postWall">
  <div id="wall">
    <div class="col-md-2"></div>
    <div class="wall-post col-md-7">
      <post-message></post-message>
      <div>
        <post-wall></post-wall>
      </div>
    </div>
  </div>
</div>
