<!-- <h2 class="form-login-heading text-center">Join Twitter today.</h2> -->
<div class="social_logins col-md-5">
  <div class="social_icons">
    <div class="facebook">
      <a class="btn btn-social btn-block btn-facebook" ng-click="login.authenticate('facebook')">
        <i class="fa fa-facebook"></i>
        Log in with Facebook
      </a>
    </div>
    <br>
    <div class="twitter">
      <a class="btn btn-social btn-block btn-twitter">
        <i class="fa fa-twitter"></i>
        Log in with Twitter
      </a>
    </div>
    <br>
    <div class="google">
      <a class="btn btn-social btn-block btn-google">
        <i class="fa fa-google"></i>
        Log in with Google
      </a>
    </div>
  </div>
</div>

<form class="form-login col-md-6" method="post" ng-submit="login.loginUser()" novalidate="" name="loginform">

  <div class="form-group" ng-class="{ 'has-error': loginform.email.$touched && loginform.email.$invalid }">
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" required="" name="email" placeholder="Email" ng-model="login.user_data.email" ng-maxlength="254" id="id_email" class="form-control">
    <div class="help-block" ng-messages="loginform.email.$error" ng-show="loginform.email.$touched">
      <div ng-messages-include="../../../messages.html"></div>
    </div>
  </div>

  <div class="form-group" ng-class="{ 'has-error': loginform.password.$touched && loginform.password.$invalid }">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" required="" placeholder="Password" ng-model="login.user_data.password" name="password" ng-maxlength="128" id="id_password" class="form-control">
    <div class="help-block" ng-messages="loginform.password.$error" ng-show="loginform.password.$touched">
      <div ng-messages-include="../../../messages.html"></div>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </div>
</form>
