<form class="" ng-submit="postMessage.submitPost()">
  <div class="input-group" id="ref_user_section">
    <span class="input-group-addon" id="basic-addon1">@</span>
    <input type="text" id="ref_user_id" ng-model="postMessage.post.ref_user_id" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
  </div>

  <div id="post-message">
    <textarea ng-model="postMessage.post.message" class="form-control" placeholder="Write your post here..."></textarea>
  </div>
  <div class="post-toolbar">
    <nav>
      <span class="radio-toolbar">

        <input type="radio" id="radio-query" ng-model="postMessage.post.type" value="Q" checked>
        <label for="radio-query">Query</label>

        <input type="radio" id="radio-review" ng-model="postMessage.post.type" value="R">
        <label for="radio-review">Review</label>

        <input type="radio" id="radio-moment" ng-model="postMessage.post.type" value="M">
        <label for="radio-moment">Moment</label>
      </span>
      <shared-identifier></shared-identifier>
      <span class="submit-post">
        <i class="fa fa-facebook" title="Share on Facebook"></i>
        <i class="fa fa-twitter" title="Share on Twitter"></i>
        <button type="Submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-pencil"></span>
          Post
        </button>
      </span>
    </nav>
  </div>
</form>
