.wall-post {
  padding: 10px;
  /*background-color: #F5F8FA;*/
  border-radius: 5px;
}

#ref_user_section {
  margin-bottom: 10px;
}

#post-message textarea {
  resize: vertical;
  min-height: 100px;
  /*max-height: 240px;*/
  margin-bottom: 8px;
}

.radio-toolbar {
  input[type="radio"] {
    display: none;
  }
  label {
    display: inline-block;
    background-color: #fff;
    padding: 5px 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid #ddd;
    color: #337ab7;
    font-weight: normal;
  }
  input[type="radio"]:checked + label, > label:hover {
    background-color: #eee;
    color: #23527c;
  }
}

.post-toolbar .submit-post {
  float: right;
  i {
    &.fa-facebook {
      color: #3B5998;
      font-size: 20px;
      margin-right: 20px;
      cursor: pointer;
    }
    &.fa-twitter {
      color: #55ACEE;
      font-size: 20px;
      margin-right: 20px;
      cursor: pointer;
    }
  }
}
