.signup {
  padding-top: 70px;
}

.form-signup {
  padding-left: 25px;
  border-left: 1px solid;
  border-left-color: #ccc;
}

.form-signup-heading {
  margin-bottom: 25px;
}

.form-signup {
  .checkbox {
    font-weight: normal;
  }
  .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    &:focus {
      z-index: 2;
    }
  }
}

.tos_disclaimer {
  color: #999;
  font-size: 13px;
}

.social_signups {
  padding-right: 25px;
}

.social_icons {
  margin-bottom: 10px;
}

.form-signup button[type="submit"] {
  display: inline-block !important;
  margin-top: 10px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
