<!-- <h2 class="form-signup-heading text-center">Join Twitter today.</h2> -->
<div class="social_signups col-md-5">
  <div class="social_icons">
    <div class="facebook">
      <a class="btn btn-social btn-block btn-facebook">
        <i class="fa fa-facebook"></i>
        Sign Up with Facebook
      </a>
    </div>
    <br>
    <div class="twitter">
      <a class="btn btn-social btn-block btn-twitter">
        <i class="fa fa-twitter"></i>
        Sign Up with Twitter
      </a>
    </div>
    <br>
    <div class="google">
      <a class="btn btn-social btn-block btn-google">
        <i class="fa fa-google"></i>
        Sign Up with Google
      </a>
    </div>
  </div>
  <span class="tos_disclaimer">By signing up you indicate that you have read and agree to the
    <a target="_blank" href="#">Terms of Service</a>.</span>
</div>

<form class="form-signup col-md-6" method="post" ng-submit="signup.createUser()" novalidate="" name="signupform">

  <div class="form-group" ng-class="{ 'has-error': signupform.full_name.$touched && signupform.full_name.$invalid }">
    <label for="inputName" class="sr-only">Full name</label>
    <input type="text" required="" autofocus="" placeholder="Full name" name="full_name" ng-model="signup.user_data.full_name" ng-maxlength="50" id="id_full_name" class="form-control">
    <div class="help-block" ng-messages="signupform.full_name.$error" ng-show="signupform.full_name.$touched">
      <div ng-messages-include="../../../messages.html"></div>
    </div>
  </div>

  <div class="form-group" ng-class="{ 'has-error': signupform.email.$touched && signupform.email.$invalid }">
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" required="" name="email" placeholder="Email" ng-model="signup.user_data.email" ng-maxlength="254" id="id_email" class="form-control">
    <div class="help-block" ng-messages="signupform.email.$error" ng-show="signupform.email.$touched">
      <div ng-messages-include="../../../messages.html"></div>
    </div>
  </div>

  <div class="form-group" ng-class="{ 'has-error': signupform.password.$touched && signupform.password.$invalid }">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" required="" placeholder="Password" ng-model="signup.user_data.password" name="password" ng-maxlength="128" id="id_password" class="form-control">
    <div class="help-block" ng-messages="signupform.password.$error" ng-show="signupform.password.$touched">
      <div ng-messages-include="../../../messages.html"></div>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </div>

</form>
